.answer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(82, 241, 202);
    color: rgb(43, 43, 43);
  }
  h1{
      text-align: center;
  }
  
  html {
    margin: 0;
    overflow-x: hidden;
    scrollbar-width: 1px;
    background-color: wheat;
    color: rgb(43, 43, 43);
  }
  body {
    margin: 0px;
    background-color: wheat;
  }
  
  .jumbo {
    padding: 2%;
    margin: 1%;
    width: 100%;
    max-width: 1000px;
  }
  
  .anSpace {
    background-color: rgb(43, 42, 42);
    color: rgb(228, 227, 227);
    padding: 20px;
    margin: 1%;
    border-radius: 4px;
    align-items: center;
    overflow: auto;
  }
  
  .page-btns {
    display: flex;
    width: 100%;
    overflow-x: auto;
  }
  
  .link {
    color: rgb(106, 247, 51);
  }
  
  code {
    font-family: "Courier New", Courier, monospace;
    /* background-color: grey; */
    padding: 2px;
    /* border-radius: 3px; */
    color: rgb(109, 109, 109);
  }
  
  table,
  thead,
  tbody,
  tr,
  th,
  td {
    border: none;
  }
  tr {
    background-color: rgb(99, 99, 99);
    color: rgb(228, 227, 227);
  }
  tr:nth-child(odd) {
    background-color: aliceblue;
    color: rgb(43, 42, 42);
  }
  
  button {
    margin: 1%;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: wheat;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }